name: 24/7 Live Stream (Ultra Pro Anti-Bot) 25/2/2026
on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  streaming_job:
    runs-on: ubuntu-latest
    concurrency: 
      group: production-stream
      cancel-in-progress: true

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v3
        with:
          lfs: true

      - name: Install FFmpeg
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg

      - name: Start Stream
        env:
          STREAM_URL: ${{ secrets.STREAM_URL }}
          STREAM_KEY: ${{ secrets.STREAM_KEY }}
        run: |
          while true; do

            echo "Preparing Playlist..."
            rm -f playlist.txt temp.txt shuffled.txt

            if [ -d "./music" ]; then
              find ./music -type f -name "*.mp3" > temp.txt

              if [ -s temp.txt ]; then
                shuf temp.txt > shuffled.txt
                while read f; do
                  echo "file '$PWD/$f'" >> playlist.txt
                done < shuffled.txt
              else
                echo "No mp3 files found!"
                exit 1
              fi
            else
              echo "Music folder not found!"
              exit 1
            fi

            echo "Starting Stable FFmpeg..."

            ffmpeg -re -stream_loop -1 -i "test1-2026.mp4" \
            -f concat -safe 0 -i playlist.txt \
            -map 0:v:0 \
            -map 1:a:0 \
            -c:v libx264 -preset veryfast -tune zerolatency \
            -x264-params "keyint=60:min-keyint=60:scenecut=-1" \
            -vf "hue=s=1.01,eq=brightness=0.01:contrast=1.01" \
            -b:v 3500k -maxrate 3500k -bufsize 7000k -nal-hrd cbr \
            -c:a aac -b:a 128k -ar 44100 -ac 2 \
            -shortest \
            -fflags +genpts \
            -f flv "${STREAM_URL}${STREAM_KEY}"

            echo "Stream stopped. Restarting in 5 seconds..."
            sleep 5

          done
